.profile {
    width: 100%;
}
.profile-title {
    color: black;
    font-weight: normal;
    padding-top: 16px;
    display: inherit;
}

.offset {
    margin-top: 7px;
}

.left-column {
    display: inline-block;
}

.updated {
    display: flex;
    justify-content: end;
    align-items: center;
}

.right-col {
    margin-left: auto;
    margin-right: 0;
}

.settings {
    font-size: 19px;
}

.settings text {
    padding-top: 5px;
}