.header-row {
    position: sticky;
}
.site-name {
    text-align: left;
}

.img-logo {
    display: inline-block;
}

.img-logo-header {
    color: black;
}


.img-src {
    width: 200px;
    height: 50px;
    display: inherit;
}

.header-name {
    display: inherit;
}

.header-logo {
    width: 10;
    height: 10;
    display: inherit;
}


.practices {
    text-align: center;
}

.practices-parent {
    display: inline-block;
}

.practices-elements {
    display: inline-block;
}

.practices-header {
    color: rgb(46, 141, 96);
    display: inherit;
}

.practices-dropdown {
    display: inherit;
}

.header-dropdown {
    display: inherit;
}

.user-details {
    text-align: right;
}

.user-details-parent {
    display: inline-block;
}

.user-details-icons {
    text-align: right;
}
.user-details-heart {
    text-align: right;
}

