.header-row {
    position: sticky;
    width: 100%;
    margin: 0;
}
.header {
    display: inline-flex;
    padding: 2px;
    width: 100%;
}
.site-name {
    text-align: left;
}

.img-logo {
    display: inline-block;
}

.img-logo-header {
    color: rgb(107, 161, 223);
}


.img-src {
    width: 29px;
    height: 29px;
    display: inherit;
}

.header-name {
    display: inherit;
}

.header-logo {
    width: 10;
    height: 10;
    display: inherit;
}


.practices-parent {
    text-align: center;
    display: inline-flex;
}

.practices-elements {
    display: inline-block;
}

.practices-header {
    color: black;
    display: inherit;
}

.practices-dropdown {
    display: inherit;
}

.header-dropdown {
    display: inherit;
}

.user-details {
    text-align: right;
    color: rgb(39, 36, 170);
}

.user-details-parent {
    display: inherit;
    flex-direction: row;
}

.heart {
    display: inherit;
}

.bell {
    display: inherit;
}

.person {
    display: inherit;
}

.user-details-dropdown {
    display: inherit;
}